/* client/src/components/ItemDetail.css */

.item-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #000000;
}

.detail-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 375px;
  width: 100%;
  background-color: white;
}

.detail-card .item-id {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.8em;
  color: #333;
}

.detail-card .favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.detail-card .back-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.detail-card .item-name {
  background-color: #eee;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 1em;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.detail-card .item-image {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.detail-card .item-category,
.detail-card .item-cost,
.detail-card .item-effect,
.detail-card .item-fling-power {
  font-size: 1em;
  margin-bottom: 10px;
  color: #333;
}
