/* client/src/components/PokemonDetail.css */

.pokemon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #000000;
}

.detail-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 375px;
  width: 100%;
  border: 8px solid #C0C0C0;
}

.detail-card .pokemon-id {
  position: absolute;
  border: 2px solid #2a3439;
  top: 10px;
  left: 10px;
  background-color: #C0C0C0;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.8em;
  color: #333;
}

.detail-card .favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #C0C0C0 !important;
  border: 2px solid #2a3439;
  cursor: pointer;
  font-size: 1.5em;
  padding: 8px;
  border-radius: 50%;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  box-shadow: 0 4px 8px rgba(88, 88, 88, 0.5);
  transition: transform 0.2s ease;
}

.detail-card .favorite-button:hover {
  transform: scale(1.1);
}

.detail-card .pokemon-name {
  background-color: #C0C0C0;
  border: 2px solid #2a3439;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: -10px;
  font-size: 1em;
  color: #333;
  text-transform: capitalize;
}

.detail-card .back-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #C0C0C0 !important;
  border: 2px solid #2a3439;
  border-radius: 10px;
  padding: 5px 10px;
  color: #333;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.detail-card .back-button:hover {
  background-color: #FFC107;
  transform: scale(1.05);
}

.detail-card .toggle-image-button {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  border: 2px outset #2a3439;
  border-radius: 25px;
  color: white;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detail-card .toggle-image-button:hover {
  background-color: #388e3c;
}

.detail-card .pokemon-image {
  background-color: #c9c9c9;
  border-radius: 10px;
  border: 2px outset #2a3439;
  width: 175px;
  height: auto;
  margin-top: 14px;
  margin-bottom: 0px;
}

.base-experience {
  background-color: #DAA520;
  border-radius: 20px;
  border: 2px solid #2a3439;
  padding: 2px 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.pokemon-type {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #2a3439;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemon-measurements-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 325px;
  margin-bottom: 10px;
}

.measurement {
  text-align: center;
  flex: 2;
  background-color: #A9A9A9;
  border: 2px solid #2a3439;
  border-radius: 10px;
}

.measurement-value {
  font-size: 1.2em;
  font-weight: bold;
}

.measurement-label {
  font-size: 0.8em;
  color: #4e4e4e;
  background-color: #B2DFDB;
  padding: 3px;
  border-radius: 5px;
  display: inline-block;
}

.base-stats-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #ddd;
  border: 2px solid #2a3439;
  border-radius: 10px;
  padding: 2px 8px;
  margin: 0 30px;
  flex-grow: 0;
  display: inline-block;
}

.pokemon-stats {
  background-color: #c9c9c9;
  border-radius: 10px;
  border: 2px outset #2a3439;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.stat-name {
  font-weight: bold;
  text-align: center;
  border: 2px solid #2a3439;
  width: 50px;
  background-color: #ddd;
  border-radius: 10px;
  padding: 1px 1px;
}

.stat-bar {
  flex: 4;
  background-color: #ddd;
  border-radius: 10px;
  border: 2px solid #2a3439;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  height: 20px;
  width: 100px;
}

.stat-bar::after {
  content: attr(data-value);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  line-height: 20px;
  z-index: 1;
}

.stat-bar-fill {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px 0 0 10px;
  text-align: left;
  position: relative;
}
